main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  padding: 32px 20px;
}

button {
  font-family: var(--mono);
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  cursor: pointer;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}
